/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: var(--tg-color-scheme);
}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tovar {
    width: 32%;
    text-align: center; 
    margin-top: 30px;
}

.tovar * {
    margin: auto;
}

.tovar h2 {
    color: var(--tg-theme-text-color);
}

.tovar img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

.button {
    margin-top: 10px;
}

.button_link {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}